
#editorScreenDiv > div {
  position: absolute;
  top: 0px;
  left: 0px;
}


#editor_topbar {
  width: 100%;
  padding-bottom: 20px;
}

#editor_topbar table {
  width: 100%;
}

#editor_topbar table td:first-child {
  width: 10%;
}

#editor_topbar .nameCell {
  width:90%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#editor_topbar #worldMapName_input {
  border: 3px solid #5A5A92;
  border-radius: 100px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI"
}

#editor_objectbar,
#editor_topbar #worldMapName_input {
  background: rgba(10, 10, 30, 0.7);
}

#editor_topbar #worldMapName_input:focus {
  outline: 0;
}

#editor_topbar .buttonCell {
  padding: 10px;
  padding-left: 2px;
}

#editor_topbar .topBarButton {
  border: 2.4px white solid;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 100px;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

#editor_topbar #saveTopButton {
  background-image: url("res/save.png");
}

#editor_topbar #helpTopButton {
  background-image: url("res/questionmark.png");
  background-size: 70%;
}

#editor_topbar #exitTopButton {
  background-image: url("res/cross.png");
}

#editor_canvas_div {
  top: 0px;
  left: 0px;
  position: absolute;
  float: left;
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#editor_canvas_div > * {
  position: absolute;
  top: 0px;
  left: 0px;
}

#fpscounter {
  position: absolute;
  top: calc(100% - 50px);
  left: calc(100% - 50px);
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.p5Canvas.objCanvas {
  position: relative;
  z-index: 5;
}

#editor_objectbar {
  border-right: 3px solid #5A5A92;
  width: 10%;
  min-width: 90px;
  height: 100%;
  color:white;
  text-align: center;
}

#editor_objectbar .delimiter {
  border-bottom: 3px solid #5A5A92;
  margin-left: 13px;
  margin-right: 13px;
}

#editor_objectbar .objectBarItemDiv {
  margin: 8px;
  border-radius: 20px;
}

#editor_objectbar .objectBarItemDiv > div {
  padding: 5px;
}

#editor_objectbar .objectBarItemDiv:hover {
  background-color: rgba(255,255,255,0.1);
  /* cursor: pointer; */
  cursor: pointer;
}

#editor_objectbar .objectBarItemDiv.selected {
  background: rgba(200, 200, 255, 0.3);
}
