#mainMenuScreenDiv h1 {
  text-align: center;
  font-family: Ravie;
  color: #82F2FF;
  font-size: 450%;
  margin: 0;
  user-select: none;
}

#mainMenuScreenDiv p {
  color: #d4d4d4;
  text-align: center;
  font-size: 120%;
  user-select: none;
}

#mainMenuScreenDiv .exitButton {
  float: right;
  background-image: url("res/cross.png");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
}

#mainMenuScreenDiv .menu {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#mainMenuScreenDiv .map {
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  clear: both;
  margin: 2%;
  display: inline-block;
}

#mainMenuScreenDiv .map p {
  margin: auto;
  border-top: 2px solid #d4d4d4;
}

#mainMenuScreenDiv .mapImg {
  height: 150px;
  width: 200px;
}

#mainMenuScreenDiv .addButton {
  height: 150px;
  width: 200px;
  margin: 2%;
  clear: both;
  text-align: center;
  display: inline-block;
}

#mainMenuScreenDiv .addButton p {
  margin: auto;
  margin-top: 15%; 
}

#mainMenuScreenDiv .addImg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-image: url("res/addButton.png");
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#mainMenuScreenDiv .play, #mainMenuScreenDiv .edit {
  border-top: 0px solid #d4d4d4;
  height: 154px;
  width: 99px;
  position: absolute;
}

#mainMenuScreenDiv .play {
  border-top-left-radius: 18px;
}

#mainMenuScreenDiv .edit {
  margin-left: 99px;
  border-top-right-radius: 18px;
}