body {
  padding: 0; 
  margin: 0;
  background-color: black;
}

.screen {
  margin: auto;
  width: 1240px;
  height: 720px;
  display: none;
  background-color: #26263A;
}

/* mainMenu */
* {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: Ravie;
  color: #82F2FF;
  font-size: 450%;
  margin: 0;
  user-select: none;
}

p {
  color: #d4d4d4;
  text-align: center;
  font-size: 120%;
  user-select: none;
}

.exitButton {
  float: right;
}

.menu {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.map {
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  clear: both;
  margin: 2%;
  display: inline-block;
}

.map p {
  margin: auto;
  border-top: 2px solid #d4d4d4;
}

.mapImg {
  height: 150px;
  width: 200px;
}

.addButton {
  margin: 2%;
  clear: both;
  text-align: center;
  display: inline-block;
}

.addButton p {
  margin: auto;
  margin-top: 25%; 
}

.addImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: -10%;
}
